{
  "__comment": "chatchatter/.prettierrc",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": { "tabWidth": 2, "trailingComma": "none" }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": { "proseWrap": "always", "printWidth": 80 }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": { "tabWidth": 2, "singleQuote": false }
    },
    {
      "files": ["*.css"],
      "options": { "singleQuote": false }
    }
  ]
}